body {
    background-color: #F5F1EA;
}
/* ======== Logo ======== */
.logo {
    text-decoration: none;
    max-width: 9.375rem;
    height: auto;
}

/* ======== Banner Styling ========= */
.banner {
    color: rgba(26, 42, 58, 0.7);

}

/* ======== Nav Link Styling ======== */
.navigation {

}

.navigation ul {
    display: flex;
    gap: 1;
    list-style: none;
    justify-content: center;
}
.navigation li {

}