body {
    background-color: #F5F1EA;
}
/* ======== Logo ======== */
.logo {
    text-decoration: none;
    max-width: 12.5rem;
    height: auto;
}

/* ======== Banner Styling ========= */
#banner h1 {
    color: rgba(26, 42, 58, 0.7);
    text-align: center;
}

/* ======== Nav Link Styling ======== */
.navigation {

}

.navigation ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.navigation li {
    gap: 20px;
}