body {
    background-color: #F5F1EA;
}
/* ======== Logo ======== */
.logo {
    text-decoration: none;
    max-width: 12.5rem;
    height: auto;
}

/* ======== Header Styling ========= */
Header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    color: rgba(26, 42, 58, 0.7);
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
    margin: 0 20px;
}

/* ======== Nav Link Styling ======== */
.nav-container {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.navigation ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.navigation li {
    gap: 20px;
}
.navigation li a {
    text-decoration: none;
}
.navigation a:hover {
    Color:#7C4A33;
}