body {
    background-color: floralwhite;
}
/* ======== Logo ======== */
.logo {
    text-decoration: none;
    max-width: 9.375rem;
    height: auto;
}

/* ======== Banner Styling ========= */
.banner {
    color: #1A2A3A;
}

/* ======== Nav Link Styling ======== */
.navigation {

}

.navigation ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.navigation li {

}