body {
    background-color: #F5F1EA;
    text-align: center;
}

h1, h2, h3 {
    margin: 10px 0;
}

/* ======== Logo ======== */
.logo {
    text-decoration: none;
    max-width: 12.5rem;
    height: auto;
}
.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand h1 {
  font-family: 'DM Serif Text', serif;
  font-size: 1.8rem;
  color: #1A2A3A;
  margin: 0;
}

/* ======== Header Styling ========= */
Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
}

header h1 {
    color: rgba(26, 42, 58, 0.7);
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
    margin: 0 20px;
}

/* ======== Nav Link Styling ======== */
.nav-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
}
.nav-container ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-container a {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #A25F4B; /* Brick Clay */
  transition: color 0.3s ease;
}

.nav-container a:hover {
  color: #7C4A33; /* Copper Espresso */
}
.navigation {
    text-align: center;
}

.navigation ul {
    display: flex;
    list-style: none;
}
.navigation li {
    gap: 20px;
}
.navigation a {
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Outfit', sans-serif;
}
.navigation a:hover {
    Color:#7C4A33;
}
/* -- Media Quary -- */
@media (max-width: 37.5rem) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .brand {
    flex-direction: column;
    gap: 4px;
  }

  .nav-container ul {
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
  }
}

/* ========== Hero Section Styling ========== */
.hero-section {
    padding: 2.5rem 0;
}
.hero-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.hero-text {
    max-width: 18.75rem;
}
.hero-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 12.5rem;
}
.price {
    font-weight: bold;
    color: #7C4A33;
}

/* ========== Visit SEction Styling ========== */
.visit-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.visit-card {
  background-color: #fff;
  border: 1px solid #d9d6d0;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.visit-card h3 {
  font-family: 'DM Serif Text', serif;
  color: #1A2A3A;
}
